<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}  <!-- Load the static tag library -->
    <title>Student Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hostel/css/styles.css' %}">

</head>
<body>
    <h2>Student Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</body>
</html>
